<div class="map-distritos-container">
  <!-- <div class="map-distritos-info"> -->
    <!-- <h2>De momento solo se visualiza el Distrito Centro</h2> -->
    <!-- <p>Visualización de la delimitación del distrito centro de Jerez de la Frontera</p> -->
  <!-- </div> -->
  <div id="map-distritos" class="leaflet-map"></div>
  <!-- <div class="map-distritos-legend">
    <h4>Leyenda</h4>
    <div class="legend-item">
      <span class="legend-color distrito-centro"></span>
      <span class="legend-text">Distrito Centro</span>
    </div>
  </div> -->
</div>
